<div class="create-user">
  <form class="create-user-form" action="/users/new" method="POST">
    <input type="text" name="first_name" placeholder="First Name">
    <input type="text" name="last_name" placeholder="Last Name">
    <input type="email" name="email" placeholder="email@example.com">
    <input type="password" name="password" placeholder="password">
    <input type="password" name="confirm" placeholder="confirm password">
    <input type="submit" name="submit" value="Create">
  </form>
</div>
