<div class="login">
  <form class="login-form" action="/users/login" method="POST">
    <input type="email" name="email" placeholder="email@example.com">
    <input type="password" name="password" placeholder="password">
    <input type="submit" name="submit" value="Login">
  </form>
</div>
