* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.splashBG {
  background: url('splash-squashed.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 90vh;
  width: auto;
}
